name: Test Tk on macos

on:
  workflow_dispatch:

jobs:
  test-macos-tk:
    name: Built Tk on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-13
          - os: macos-14
    steps:
      - uses: actions/checkout@v4
        with:
          repository: eserte/perl-tk
      - name: Install system prereqs
        run: |
          brew install --cask xquartz
          brew install perl libpng jpeg-turbo cpanminus
          /opt/X11/bin/Xvfb :123 &
          echo "DISPLAY=:123" >> $GITHUB_ENV
      - name: "Where are the includes?"
        run: |
          set -x
          find /opt/homebrew/include -name jconfig.h || true
          find /usr/local/include -name jconfig.h || true
      - name: Start window manager
        run: |
          (sleep 10; twm) &
      - name: Build and test
        env:
          CPATH: /opt/homebrew/include
          LIBRARY_PATH: /opt/homebrew/lib
        run: |
          perl Makefile.PL VERBOSE=1
          make -j4 all
          make test
